body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: #4c6ef5;
  color: white;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.card {
  width: 270px;
  background: #f7f7ff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  margin: 15px;
  transition: 0.25s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.card h3 {
  color: #364fc7;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-btn {
  background: #4dabf7;
  padding: 8px 12px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #f03e3e;
  padding: 8px 12px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}


.home-container {
  padding: 30px;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container {
  padding: 30px;
  max-width: 450px;
  margin: auto;
  background: #edf2ff;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  border: 1px solid #adb5bd;
  border-radius: 6px;
}

.submit-btn {
  background: #51cf66;
  padding: 10px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
